div.Suggestion {
  background: #373f68;
  color: white;
  width: 100%;
  padding: 24px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
  h2 {
    font-size: 18px;
    margin: 0;
  }
  div {
    flex: 2;
    display: flex;
    align-items: center;
    gap: 10px;
    span {
      color: #f2f4fe;
      opacity: 0.75;
      font-size: 14px;
    }
    select {
      background-color: inherit;
      color: white;
      border: 0;
    }
  }
  button {
    padding: 12px 25px;
    border: 0;
    background: #c75af6;
    color: #f2f4fe;
    font-weight: 700;
    font-size: 14px;
    border-radius: 10px;
    transition: 0.3s linear;

    &:hover {
      opacity: 0.75;
    }
  }
}

@media (max-width: 768px) {
  div.Suggestion {
    display: none;
  }
}
